<%- include('common/header'); %>

<div class="container-fluid mt-3">

  <div class="bg-dark text-success p-4 rounded shadow">
    <h4>Welcome back, Admin</h4>
    <p>Monitor today’s activity, track performance, and manage everything in one place.</p>
  </div>

</div>

<%- include('common/footer'); %>