body{
    background-color: rgb(246, 246, 213);
}

.ca{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card{
    background-color: rgb(151, 5, 141);
    color: rgb(246, 245, 249);
    border-radius: 10px;
    border: 1px solid rgb(120, 86, 118);
    padding: 20px;
    
}

a{
    text-decoration: none;
    color: white;
}

button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}